.wedding-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wedding-heading h1, .wedding-heading h6 {
  color: black;
}

.wedding-heading img{
  max-width: 90%;
  width: 500px;
}

.spacer-lol {
  height: 300px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.accom-2 td {
  font-weight: 600;
}

.table-condensed>tbody>tr>td:first-child {
  padding-left: 0;
}

.travel-header {
  font-weight: 600;
}

.program td {
  font-weight: 400;
}

.program td:first-child {
  width: 120px;
}

.small-text-info {
  font-size: 0.8em;
  font-size: 300;
}